.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  max-height:100vh;
  background-color: gold;
  padding: 0;
  margin: 0;
  position:relative;
  box-sizing: border-box;
  overflow: hidden !important;
}
.hero2 a  {
  text-decoration: underline;
  color:white;
  font-size:clamp(2rem, 3vw, 5rem);
  
}

.hero2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: green;
  padding: 10rem 0rem;
  box-sizing: border-box;
overflow: hidden;
}

.hero3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: gold;
  padding: 1rem;
  box-sizing: border-box;
}

.pepega-pic {
  height: clamp(10rem, 18vw, 22rem);
  margin: 0;
  z-index:2;
}

.pepega-text {
  font-size: clamp(2.5rem, 10vw, 12rem);
  margin: 0;
  color: darkgreen;
}
.pepega-text2 {
  font-size: clamp(2.0rem, 12vw, 12rem);
  margin: 0;
  width:100%;
  color: gold;
  text-align: center;
}

.nameAndPic, .nameAndPic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.nameAndPic2 {
  display: grid;
 
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin:3rem;
}
.hero2{

}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom.section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tickerBar {
  position: fixed; /* Change to fixed to make it work for all sections */
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding: 5px 0;
  z-index: 999; /* Ensure it stays on top */
}


.tickerContent {
  display: flex;
  white-space: nowrap;
  animation: ticker 10s linear infinite;
}

.tickerContent p {
  display: inline-block;
  margin: 0;
  padding-right: 100%;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.cto-badge {
  position: relative;
  top: 1rem;
  right: 5rem;
  z-index: 1;
}

.click-me{
  position:absolute;
  z-index:1;
  top:23%;
  left:58%;
 
}
.click-me img{
  width:10rem;
  height:10rem;
  
}

.cto-badge img {
  width: clamp(8rem, 10vw, 1rem);
}

.long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 80vw;
  display: block;
}


.tokenomics-pic{
  height: clamp(18rem, 32vw, 42rem);
  margin: 0;
  z-index:2;
}
.nameAndPic2 h2{
  color:white;
}
.primary{}
.secondary{}



@media only screen and (max-width: 700px) {
  .nameAndPic2 {
    display:flex;
    flex-direction: column;
    width:60%;
  }
}